body {
    font-family: sans-serif;
    direction: ltr;
    text-align: left;
    padding: 20px;
    background-color: #173866;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

header {
    background-color: #173866;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0 0;
}

..button-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
}

.return-button {
    background-color: #173866;
    color: white;
    padding: 10px 20px; 
    border: none; 
    border-radius: 8px;
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    width: 100%;
    max-width: 190px; 
    text-align: center;
}

.form-group {
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group select,
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.form-group h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #173866;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px 0 60px;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center; 
}

.options-container button {
    width: 100%; 
    max-width: 300px;
    padding: 15px 20px;
    background-color: #173866; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.options-container button:active {
    transform: translateY(0); 
}

#calculator, #support {
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#calculator form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#calculator label {
    font-weight: bold;
}

#calculator select,
#calculator button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.module {
    margin-bottom: 10px;
    text-align: left;
}

.module h3 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #173866;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background-color: #1a4a8a;
}

.result-container {
    text-align: center;
    margin-top: 5px;
}

.result-container button {
    background-color: #173866;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px 0 20px;
}

.result-container button:hover {
    background-color: #1a4a8a;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

#moduleResult {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 40px;
}

#averageResult {
    color: #173866;
}

#moduleaverageResult {
    color: #173866;
}

.support-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.support-item {
    color: white;
    background-color: #173866;
    padding: 18px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 5px;
    max-width: 300px;

}

.support-item p {
    margin: 0;
}

.support-item a {
    color: red;
    text-decoration: none;
}

.support-item a:hover {
    text-decoration: underline;
}

footer {
    background-color: #173866;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
